.answer-container {
  box-shadow: 3px 3px 15px #888888,
  -3px -3px 15px #888888; 
  padding: 30px; 
  margin: 10px; 
  text-align: center; 
}

.answer-input {
  margin: 0px 10px; 
}

.answer-button {
  background-color: rgb(113, 242, 53);
  border: none; 
  padding: 8px; 
  border-radius: 5px;
  font-weight: 600; 
}

