.answer-container {
  box-shadow: 3px 3px 25px rgb(194, 238, 203),
  -3px -3px 15px rgb(60, 70, 62); 
  padding: 30px; 
  margin: 10px 60px; 
  text-align: center; 
}

.answer-input {
  margin: 0px 10px; 
}

.answer-button {
  background-color: rgb(113, 242, 53);
  border: none; 
  padding: 8px; 
  border-radius: 5px;
  font-weight: 600; 
}

